.movie-cardstyle {
    img {
        // margin-bottom: 5px;
        height: 250px;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// .card {
//     max-height: 450px;
//     width: auto;
//     // padding-top: 50px;
// }